<!DOCTYPE html>
<html>
  <head>
    <title>ParkHopper</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/c40141444b.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag 'favicon.ico' %>
    <img src="<%= image_url('brent.png') %>" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
