<!DOCTYPE html>
<html>
  <head>
    <title>ParkHopper</title>
    <meta property="og:title" content="<%= ParkHopper %>" />
    <meta property="og:type" content="<%= website %>" />
    <meta property="og:url" content="<%= https://parkhopper1.herokuapp.com %>" />
    <meta property="og:image" content="<%= image_url('splash_page_png.png') %>" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/c40141444b.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag 'favicon.ico' %>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('phlogo.jpg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
